@model HikePals.Web.ViewModels.Events.EventViewModel

@{ this.ViewData["Title"] = Model.Title; }


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Events" asp-action="All">Events</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<div class=role aria-label="Basic example" style="vertical-align:middle; text-align: center; margin-left:10px; margin-right:10px; margin-bottom:10px">

    @if (this.User.IsInRole("Administrator") || Model.UserId == Model.CreatedById)
    {
        <a type="button" style="vertical-align:middle; text-align: center; margin-left:10px; margin-right:10px;"  class="btn btn-primary" asp-controller="Events" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }

    @if (this.User.IsInRole("Administrator"))
    {
        <a type="button" style="vertical-align:middle; text-align: center; margin-left:10px; margin-right:10px;"  class="btn btn-danger" asp-controller="Events" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    }

    @if (Model.CurrentUserHasRequestPending)
    {
        <a type="button" style="vertical-align:middle; text-align: center; margin-left:10px; margin-right:10px;" class="btn btn-secondary disabled" asp-controller="Events" asp-action="RequestJoinEvent" asp-route-id="@Model.Id">Request Sent</a>

        <a type="button" class="btn btn-warning" style="vertical-align:middle; text-align: center; margin-left:10px; margin-right:10px; " asp-controller="Events" asp-action="UndoJoinRequest" asp-route-id="@Model.Id">Undo Request</a>
    }
    else if (Model.Participants.Count() == Model.MaxGroupSize)
    {
        <a class="btn btn-secondary disabled">Join</a>
    }

    else if (Model.Participants.Count() == Model.MaxGroupSize)
    {
        <a class="btn btn-secondary disabled">Join</a>
    }
    else if (Model.CurrentUserHasJoinedEvent)
    {
        <a type="button" class="btn btn-danger" asp-controller="Events" asp-action="Leave" asp-route-id="@Model.Id">Leave</a>
    }
    else
    {
        <a type="button" class="btn btn-success" asp-controller="Events" asp-action="RequestJoinEvent" asp-route-id="@Model.Id">Join</a>
    }

</div>

<div>

        <div class="row col-md-11" style="margin-left: 10px">
            <div class="card col-md-7">

                <div class="flex-column">
                    <span class="card-text">Start: @Model.StartTime.Date.ToString("g", System.Globalization.CultureInfo.InvariantCulture) | </span>
                    <span class="card-text"><i class="far fa-clock"></i> @Model.TripDuration.TotalHours.ToString("0.0") h |</span>
                    <span class="card-text"><i class="fas fa-road"></i> @Model.TripDistance km |</span>
                    <div class="col-10"></div>
                </div>
                <img src="@Model.ImageUrl" class="img-fluid max-width: 75%;  height: auto" alt="" />
                <div class="card-body">
                    <h6>Details:</h6>
                    <div>
                        @Model.Details
                    </div>
                </div>
            </div>

            <div class="container col-md-4 border-top">
                <table class="table table-borderless table-striped">
                    <thead>
                        <tr>
                            <th scope="auto">Joined: </th>
                            <th scope="col"> @Model.Participants.Where(x => !x.IsJoinRequestPending).Count() / @Model.MaxGroupSize</th>

                        </tr>
                        <tr>
                            <th scope="col">Name:</th>
                            <th scope="col">Age: </th>
                            <th scope="col">From:</th>
                        </tr>
                    </thead>
                    @if (Model.Participants.Count() > 0)
                    {
                        @foreach (var participant in Model.Participants)
                        {
                            if (Model.CurrentUserHasJoinedEvent || this.User.IsInRole("Administrator") || Model.UserId == Model.CreatedById)
                            {
                                <tr>
                                    <td>@participant.Name</td>
                                    <td>@participant.Age</td>
                                    <td>@participant.CityName</td>
                                    @if (this.User.IsInRole("Administrator") || Model.UserId == Model.CreatedById)
                                    {
                                <td>
                                    @if (!participant.IsJoinRequestPending)
                                    {
                                        <a type="button" class="close" aria-label="Close" alt="Remove" asp-action="Leave" asp-route-id="@Model.Id" asp-route-participantId="@participant.Id">
                                            <span><i class="fas fa-times" style="color: red"></i></span>
                                        </a>
                                    }

                                    else

                                    {
                                        <a type="button" class="close" aria-label="approve" alt="approve" asp-action="ApproveJoinEvent" asp-route-id="@Model.Id" asp-route-participantId="@participant.Id">
                                            <i class="fas fa-check" style="color: green"></i>
                                        </a>

                                        <a type="button" class="close" aria-label="Close" alt="Remove" asp-action="Leave" asp-route-id="@Model.Id" asp-route-participantId="@participant.Id">
                                            <span><i class="fas fa-times" style="color: red"></i></span>
                                        </a>
                                    }
                                </td>
                                    }
                                </tr>
                            }
                        }
                    }

                </table>
                @if (Model.CurrentUserHasJoinedEvent || this.User.IsInRole("Administrator") || Model.UserId == Model.CreatedById)
                {
                <div class="container">
                    <div id="message-holder" class="mt-3 d-flex justify-content-start" >
                        <h4>Message</h4>
                        <input class="w-150 ml-4 pl-3" type="text" id="messageInput" data-eventId="@Model.Id" placeholder="Message..." />
                        <button id="sendButton" class="ml-4 btn btn-dark btn-lg">Send</button>
                    </div>
                    <hr style="height: 5px;" class="bg-dark" />
                    <div id="divChatWindow" class="overflow-auto" style="overflow-y: scroll; font-size: 14px;  max-height:300px; max-width:350px">
                    </div>
                </div>
                }
            </div>

        </div>
    </div>
     @*" @Model.Id" + " @Model.UserId"*@

    @section Scripts {
        <script>
            var connection =
                new signalR.HubConnectionBuilder()
                    .withUrl("/chat")
                    .build();

            connection.on("NewMessage",
                function (message) {
                    //let sameMessage = message;
                    var chatInfo = `<div>[${message.sendByName}][${(message.time)}] ${escapeHtml(message.text)}</div>`;

                    //console.log('Response:')
                    //console.log(message);

                    $("#divChatWindow").append(chatInfo);
                });

            $("#sendButton").click(function () {
                var message = $("#messageInput").val();
                var eventId = $("#messageInput").attr("data-eventId").val;

                data = { text: message, eventId: eventId };
                //data = JSON.stringify(data);
                connection.invoke("Send", data);
                $("#messageInput").val("");
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });
            function escapeHtml(unsafe) {
                return unsafe
                    .replace(/&/g, "&amp;")
                    .replace(/</g, "&lt;")
                    .replace(/>/g, "&gt;")
                    .replace(/"/g, "&quot;")
                    .replace(/'/g, "&#039;");
            }
        </script>
    }


