@using HikePals.Common
@model HikePals.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>

    <ul>
        Total Trips:
        <li class="list-group-item">@Model.TripsCount</li>
        Total Locations:
        <li class="list-group-item">@Model.LocationsCount</li>
        Total Categories:
        <li class="list-group-item">@Model.CategoriesCount</li>
        Total Users:
        <li class="list-group-item">@Model.UsersCount</li>
    </ul>

</div>

