@model IEnumerable<HikePals.Web.ViewModels.Administration.Trips.SingleTripViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Trips List Overview</h1>

<a class="btn btn-dark" style ="margin:10px" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Back to Dashboard</a>

<table class="table">
    <thead>
        <tr>
            <th style="word-wrap: break-word; max-width: 150px;">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>

                <td>
                    @if (item.IsDeleted == false)
                    {
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    }

                    else
                    {
                        @Html.DisplayFor(modelItem => item.DeletedOn)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td class="text-center">
                    <a type="button" class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    @if (item.IsDeleted)
                    {
                        @*<a type="button" class="btn disabled" asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
                        <a type="button" class="btn btn-sm disabled" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }

                    else
                    {
                        <a type="button" class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }

                    @if (item.IsDeleted)
                    {
                        <a type="button" class="btn btn-sm btn-primary" asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-sm disabled">Restore</a>
                    }
                    <customErrors defaultRedirect=""></customErrors>

                    @if (item.IsDeleted)
                    {
                        <a type="button" class="btn btn-sm disabled" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
