@model HikePals.Web.ViewModels.Events.AllEventAsListViewModel



<div class="row">

    @foreach (var hike in Model.Events)
    {
        <div class="card col-md-4 m-5">
            <div class="embed-responsive embed-responsive-4by3">
                <a asp-controller="Events" asp-action="GetById" asp-route-id="@hike.Id">
                    <img class="card-img-top img-responsive embed-responsive-item" src="@hike.ImageUrl" alt="@hike.Title" style="margin:10px; margin-left:0">
                </a>
            </div>

            <div class="card-body">
                <a asp-controller="Events" asp-action="GetById" asp-route-id="@hike.Id"><h5 class="card-title md-1">@hike.Title</h5></a>
                <p class="card-text">Start: @hike.StartTime.Date.ToString("g", System.Globalization.CultureInfo.InvariantCulture)</p>
                <span class="card-text"><i class="far fa-clock"></i> @hike.TripDuration.TotalHours.ToString("0.0") h |</span>
                <span class="card-text"><i class="fas fa-road"></i> @hike.TripDistance km |</span>
                <span class="card-text"><i class="fas fa-user-friends"></i> @hike.CurrentNumberParticipants/@hike.MaxGroupSize </span>
                <p>

                    <a asp-controller="Events" asp-action="GetById" asp-route-id="@hike.Id" class="btn btn-primary">Read more</a>
                </p>

            </div>
        </div>
    }

</div>