@model HikePals.Web.ViewModels.Events.EventViewModel

@{ this.ViewData["Title"] = Model.Title; }


<div class=role  aria-label="Basic example" style="vertical-align:middle; text-align: center;">
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    @*<div style="vertical-align:middle; text-align: center;">
    </div>*@
        <a type="button" class="btn btn-dark" asp-action="Index" asp-route-id="@Model.Id">Back to List</a>
    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

    @*@if (Model.MaxGroupSize == Model.Participants.Count() || Model.HasJoinedEvent == true)
        {
            <a type="button" class="btn btn-secondary disabled" asp-action="Join" asp-route-id="@Model.Id">Join</a>
        }
        else
        {
            <a type="button" class="btn btn-success" asp-action="Join" asp-route-id="@Model.Id">Joined</a>
        }
        <a type="button" class="btn btn-danger" asp-action="Leave" asp-route-id="@Model.Id">Leave</a>*@
</div>

<div>


    <div class="row col-md-12">
        <div class="card col-md-6">

            <div>
                <div class="d-flex flex-row">
                    <div class="p-2">Distance - @Model.TripDistance km</div>
                    <div class="p-2">Duration - @Model.TripDuration h</div>
                    <div class="p-2">Start Time - @Model.StartTime.ToString("t") </div>
                </div>
                <div class="col-10"></div>
            </div>
            <img src="@Model.ImageUrl" class="img-fluid max-width: 75%;  height: auto" alt="" />
            <div class="card-body">
                @Model.Details
            </div>
        </div>

        <div class="container col-md-6 border-top">
            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name:</th>
                        <th scope="col">Age: </th>
                        <th scope="col">From:</th>
                        <th scope="col">People Joined:  @Model.Participants.Count() / @Model.MaxGroupSize</th>
                    </tr>
                </thead>
                @if (Model.Participants.Count() > 0)
                {
                    @foreach (var participant in Model.Participants)
                    {
                        <tr>
                            <td>@participant.Name</td>
                            <td>@participant.Age</td>
                            <td>@participant.CityName</td>
                            @if (this.User.IsInRole("Administrator"))
                            {
                                <td>
                                    <a type="button" class="close" aria-label="Close" alt="Remove" asp-action="Leave" asp-route-id="@Model.Id">
                                        <span aria-hidden="true">&times;</span>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    @for (int i = 0; i < Model.MaxGroupSize; i++)
                    {
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    }
                }

            </table>
        </div>

    </div>

</div>


