@model HikePals.Web.ViewModels.Trips.AllTripsViewModel

<head>
    <link href="~/css/AllTrips/index.css" rel="stylesheet" />
</head>
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-dismissible alert-success" role="alert">@this.TempData["Message"] <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button></div>
}

<h1>Find a hike route that suits you best!</h1>
<div>
    <a class="btn btn-outline-primary mb-2" style="text-align: center" asp-area="" asp-controller="Trips" asp-action="CreateTrip">Create you own Hike Route</a>
</div>

<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>

                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Vitosha, Svoge, Kom, etc...">
        </div>

        @*<div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Date Created</option>
                    <option value="1">Year</option>
                    <option value="2">Brand And Model</option>
                </select>
            </div>
        </div>*@
    </div>
</form>


@{
    int previousPage;
    if (Model.CurrentPage == 1)
    {
        previousPage = Model.CurrentPage;
    }
    else
    {
        previousPage = Model.CurrentPage - 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalTripsCount / HikePals.Web.ViewModels.Trips.AllTripsViewModel.TripPerPage);
}
<div class="row mb-6 d-flex  justify-content-center">
    <div class="col-md-6 ">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" asp-controller="Trips" asp-action="All" asp-route-currentPage="@previousPage">
            <<

        </a>
        <p class="d-inline mb-6">... @Model.CurrentPage ...</p>
        <a class="btn btn-primary @(Model.CurrentPage == maxPage ? "disabled" : string.Empty) " data-maxpage="@maxPage" asp-controller="Trips" asp-action="All" asp-route-currentPage="@(Model.CurrentPage + 1)">
            >>

        </a>
    </div>

</div>
<div class="row">
    @foreach (var trip in this.Model.Trips)
    {
        <div class="card col-md-4">
            <div class="embed-responsive embed-responsive-4by3">
                <a asp-controller="Trips" asp-action="GetById" asp-route-id="@trip.Id">
                    <img class="card-img-top img-responsive embed-responsive-item" src="@trip.ImageUrl" alt="@trip.Title" style="margin: 10px; margin-left:0">
                </a>
            </div>

            <div class="card-body">
                <a asp-controller="Trips" asp-action="GetById" asp-route-id="@trip.Id"><h5 class="card-title md-1">@trip.Title</h5></a>
                <div class="container" style="margin-bottom: 15px">

                    @if (trip.AverageRating != 0 && trip.AverageRating > 0.4)
                    {
                        <span data-vote="1"><i id="star" class="fas fa-star checked"></i></span>
                    }
                    else
                    {
                        <span data-vote="1"><i id="star" class="fas fa-star"></i></span>
                    }
                    @if (trip.AverageRating != 0 && trip.AverageRating > 1.4)
                    {
                        <span data-vote="2"><i id="star" class="fas fa-star checked"></i></span>
                    }
                    else
                    {
                        <span data-vote="2"><i class="fas fa-star"></i></span>
                    }
                    @if (trip.AverageRating != 0 && trip.AverageRating > 2.4)
                    {
                        <span data-vote="3"><i id="star" class="fas fa-star checked"></i></span>
                    }
                    else
                    {
                        <span data-vote="3"><i class="fas fa-star"></i></span>
                    }
                    @if (trip.AverageRating != 0 && trip.AverageRating > 3.4)
                    {
                        <span data-vote="4"><i id="star" class="fas fa-star checked"></i></span>
                    }
                    else
                    {
                        <span data-vote="4"><i class="fas fa-star"></i></span>
                    }
                    @if (trip.AverageRating >= 4.5)
                    {
                        <span data-vote="5"><i id="star" class="fas fa-star checked"></i></span>
                    }
                    else
                    {
                        <span data-vote="5"><i class="fas fa-star"></i></span>
                    }
                    <span id="averageRating">@trip.AverageRating.ToString("0.0")</span> <span>/ 5</span>

                </div>
                @if (this.User.IsInRole("User") || this.User.IsInRole("Administrator"))
                {
                    <a asp-controller="Trips" asp-action="GetById" asp-route-id="@trip.Id" class="btn btn-primary">Read more</a>
                }
                else
                {
                    <a class="btn btn-dark  btn-pill" asp-area="Identity" asp-page="/Account/Register">Read more</a>

                }
            </div>
        </div>
    }

</div>