
@model HikePals.Web.ViewModels.Trips.TripViewModel
@{ this.ViewData["Title"] = Model.Title; }


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Trips" asp-action="All">Hike Routes Gallery</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<div class="btn-group" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>

<div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item ">
                <a class="nav-link active" href="#">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>

    <div class="card col-10">
        <div class="card-body">
            <p class="card-text">@Model.LocationName</p>
            @*<span class="card-text">@Model.Distance km</span>
        <span class="card-text">@Model.Duration.TotalHours h</span>*@
            <div class="d-flex flex-row">
                <div class="p-2">@Model.LocationCityName</div>
                <div class="p-2">Distance - @Model.Distance km</div>
                <div class="p-2">Time - @Model.Duration.TotalHours h</div>
            </div>

            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <img src="@Model.ImageUrl" alt="" />
        <div class="card-body">
            <p class="card-text">@Model.Description</p>
        </div>
    </div>

</div>




