
@model HikePals.Web.ViewModels.Trips.TripViewModel
@{ this.ViewData["Title"] = Model.Title; }


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Trips" asp-action="All">Hike Routes Gallery</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<div class="btn-group" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a type="button" class="btn btn-success" asp-controller="Events" asp-action="Create" asp-route-id="@Model.Id">Create Event</a>
</div>

<div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item ">
                <a class="nav-link active" href="#">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Point Of Interest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>

    <div class="card col-10">
        <div class="card-body">
            <p class="card-text">@Model.LocationName</p>
            @*<span class="card-text">@Model.Distance km</span>
        <span class="card-text">@Model.Duration.TotalHours h</span>*@
            <div class="d-flex flex-row">
                <div class="p-2">@Model.LocationCityName</div>
                <div class="p-2">Distance - @Model.Distance km</div>
                <div class="p-2">Time - @Model.Duration.TotalHours h</div>
            </div>

            @if (Model.AverageRating != 0 && Model.AverageRating > 0.4)
            {
                <span data-vote="1"><i id="star" class="fas fa-star checked"></i></span>
            }
            else
            {
                <span data-vote="1"><i id="star" class="fas fa-star"></i></span>

            }
            @if (Model.AverageRating != 0 && Model.AverageRating > 1.4)
            {
                <span data-vote="2"><i id="star" class="fas fa-star checked"></i></span>
            }
            else
            {
                <span data-vote="2"><i class="fas fa-star"></i></span>

            }
            @if (Model.AverageRating != 0 && Model.AverageRating > 2.4)
            {
                <span data-vote="3"><i id="star" class="fas fa-star checked"></i></span>
            }
            else
            {
                <span data-vote="3"><i class="fas fa-star"></i></span>

            }
            @if (Model.AverageRating != 0  && Model.AverageRating > 3.4)
            {
                <span data-vote="4"><i id="star" class="fas fa-star checked"></i></span>
            }
            else
            {
                <span data-vote="4"><i class="fas fa-star"></i></span>

            }
            @if (Model.AverageRating >= 4.5)
            {
                <span data-vote="5"><i id="star" class="fas fa-star checked"></i></span>
            }
            else
            {
                <span data-vote="5"><i class="fas fa-star"></i></span>

            }
            <span id="averageRating">@Model.AverageRating.ToString("0.0")</span> <span>/ 5</span>


        </div>
        <img src="@Model.ImageUrl" alt="" />
        <div class="card-body">
            <p class="card-text">@Model.Description</p>
        </div>
    </div>

</div>
<form method="post" id="antiForgeryForm"></form>
@section Scripts{
    <script>
    $("span[data-vote]").each(function (el) {
        $(this).click(function () {


            var value = $(this).attr("data-vote");
            var rating = parseInt(value);
            var tripId = @Model.Id;
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data = { value: rating, tripId: tripId };

            $.ajax({
                type: "POST",
                url: "/api/Ratings",
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                headers: {
                    'X-CSRF-TOKEN': antiForgeryToken
                },
                success: function (data) {
                    $('#averageRating').text(data.averageRating);
                },

                //success: function (data) {
                //    $('#averageRating').html($('#averageRating', data.AverageRating).html());
            });
        })
    })
    </script>

    <script>
        //$("span i").hover(handlerIn, function () {

        //    $("span i").addClass("far").removeClass("checked");
        //    $(this).addClass("checked").removeClass("far");
        //    $(this).prevAll("span i").addClass("checked").removeClass("far");

            
        //});
    </script>
}


